<mat-card [class]="{'summary-only': showSummaryOnly}">
  <mat-card-header>
    <mat-card-title [style]="{'margin-left': '-18px', 'margin-right': '-18px'}">{{item.name}}</mat-card-title>
    <mat-card-subtitle [style]="{'margin-left': '-18px', 'margin-right': '-18px'}">${{item.price}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ item.description }}
    </p>
    <app-count-down-timer *ngIf="!showSummaryOnly" [endTime]="item.auction_end_time"></app-count-down-timer>
    <p *ngIf="!showSummaryOnly && latestBid"  class="latest-bid">Latest Bid: ${{latestBid}}</p>
  </mat-card-content>
  <form #bidFormRef="ngForm" [formGroup]="bidForm" (ngSubmit)="bidNow(bidFormRef)">
    <mat-form-field *ngIf="!showSummaryOnly && isBiddingOngoing() && !isAutoBid" >
      <input type="number" formControlName="bidInput" autocomplete="off" placeholder="Enter Amount to Bid" [(ngModel)]="bidAmount" matInput>
      <mat-error *ngIf="bidForm.get('bidInput')?.hasError('required')">Required</mat-error>
      <mat-error *ngIf="bidForm.get('bidInput')?.hasError('min')">Should be larger than ${{latestBid?latestBid:0}}</mat-error>
    </mat-form-field>
    <button type="submit" [disabled]="(!showSummaryOnly && !isBiddingOngoing()) || isAutoBid" mat-raised-button [color]="isBiddingOngoing()?'primary':''">{{getBidNowButtonLabel()}}</button>
  </form>
  <mat-slide-toggle [disabled]="(!showSummaryOnly && !isBiddingOngoing())" (change)="toggleAutoBid()" *ngIf="apiService.isLoggedIn() && !showSummaryOnly" [(ngModel)]="isAutoBid"  color="primary">Auto Bid</mat-slide-toggle>
</mat-card>
