mat-card.summary-only {
  height: calc(100% - 30px);
}

mat-card {
  width: calc(100% - 30px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

form {
  margin-top: auto;
  margin-bottom: 10px;
  bottom: 10px;
  display: inline-flex;
  flex-direction: column;
}

.latest-bid {
  font-weight: 500;
}

button {
  margin-top: 10px;
}
