<app-top-bar (onConfig)="config()"></app-top-bar>
<div class="item-details-container"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start">
  <app-auction-item *ngIf="item" [showSummaryOnly]="false" fxFlex="0 1 calc(33.3% - 32px)"
                     fxFlex.lt-md="100%"
                     fxFlex.lt-sm="100%"
                     [item]="item" (onBid)="bidNow($event)"></app-auction-item>
  <div fxFlex="0 1 calc(66.6% - 32px)"
       fxFlex.lt-md="100%"
       fxFlex.lt-sm="100%">
    <app-bid-history *ngIf="item" #bidHistoryList [itemId]="item.id"></app-bid-history>
  </div>

</div>
